@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <div class="body-content">
        Hello World
    </div>
    @*<div>
        @ViewBag["Message"]
    </div>
    <div>
        @ViewBag["Other"]
    </div>*@
</div>



